<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <!-- <header> -->
        <%- include('../partials/header'); %>
    <!-- </header> -->
    <section class="container">
        <!-- declaring variables in ejs -->

        <div class="row mt-4">
            <div class="col-md-4">
                <div class="input-group mb-4">
                    <select class="form-control">
                        <option onclick="selectAll()">All</option>
                        <option onclick="selectPost()">Post</option>
                        <option onclick="selectGet()">Get</option>
                        <option onclick="selectPut()">Put</option>
                        <option onclick="selectPatch()">Patch</option>
                        <option onclick="selectDelete()">Delete</option>
                    </select>
                    <!-- <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="search by route"> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive" id="all">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                      <th scope="col">occued</th>
                                      <th scope="col">method</th>
                                      <th scope="col">route</th>
                                      <th scope="col">status</th>
                                      <th scope="col">duration (milli seconds)</th>
                                      <th scope="col">remote address</th>
                                      <th scope="col">🧙‍♂️</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% tengri.map(watch=>{ %>
                                        <tr>
                                            <td><%= moment(watch.occured).fromNow() %></td>
                                            <td><%= watch.method %></td>
                                            <td><%= watch.route %></td>
                                            <td>
                                                <% if(watch.status.startsWith("20")) { %>
                                                    <p class="badge badge-success"><%= watch.status %></p>
                                                <%}%>
                                                <% if(watch.status.startsWith("30")) { %>
                                                    <p class="badge badge-warning"><%= watch.status %></p>
                                                <%}%>
                                                <% if(watch.status.startsWith("40")) { %>
                                                    <p class="badge badge-danger"><%= watch.status %></p>
                                                <%}%>
                                            </td>
                                            <td><%= watch.duration %> ms</td>
                                            <td><%= watch.remoteAddress %></td>
                                            <td>
                                                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target='#exampleModal<%= watch.id %>'>
                                                    🧙‍♂️
                                                </button>
                                            </td>
                                        </tr>
                                    <% }); %>
                                </tbody>
        
                            </table>
                        </div>

                        <div class="table-responsive" id="post" style="display: none;">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                      <th scope="col">occued</th>
                                      <th scope="col">method</th>
                                      <th scope="col">route</th>
                                      <th scope="col">status</th>
                                      <th scope="col">duration (milli seconds)</th>
                                      <th scope="col">remote address</th>
                                      <th scope="col">🧙‍♂️</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% tengri.filter(watch=>watch.method === "POST").map(watch=>{ %>
                                        <tr>
                                            <td><%= moment(watch.occured).fromNow() %></td>
                                            <td><%= watch.method %></td>
                                            <td><%= watch.route %></td>
                                            <td>
                                                <% if(watch.status.startsWith("20")) { %>
                                                    <p class="badge badge-success"><%= watch.status %></p>
                                                <%}%>
                                                <% if(watch.status.startsWith("30")) { %>
                                                    <p class="badge badge-warning"><%= watch.status %></p>
                                                <%}%>
                                                <% if(watch.status.startsWith("40")) { %>
                                                    <p class="badge badge-danger"><%= watch.status %></p>
                                                <%}%>
                                            </td>
                                            <td><%= watch.duration %> ms</td>
                                            <td><%= watch.remoteAddress %></td>
                                            <td>
                                                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target='#exampleModal<%= watch.id %>'>
                                                    🧙‍♂️
                                                </button>
                                            </td>
                                        </tr>
                                    <% }); %>
                                </tbody>
        
                            </table>
                        </div>

                        <div class="table-responsive" id="get" style="display: none;">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                      <th scope="col">occued</th>
                                      <th scope="col">method</th>
                                      <th scope="col">route</th>
                                      <th scope="col">status</th>
                                      <th scope="col">duration (milli seconds)</th>
                                      <th scope="col">remote address</th>
                                      <th scope="col">🧙‍♂️</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% tengri.filter(watch=>watch.method === "GET").map(watch=>{ %>
                                        <tr>
                                            <td><%= moment(watch.occured).fromNow() %></td>
                                            <td><%= watch.method %></td>
                                            <td><%= watch.route %></td>
                                            <td>
                                                <% if(watch.status.startsWith("20")) { %>
                                                    <p class="badge badge-success"><%= watch.status %></p>
                                                <%}%>
                                                <% if(watch.status.startsWith("30")) { %>
                                                    <p class="badge badge-warning"><%= watch.status %></p>
                                                <%}%>
                                                <% if(watch.status.startsWith("40")) { %>
                                                    <p class="badge badge-danger"><%= watch.status %></p>
                                                <%}%>
                                            </td>
                                            <td><%= watch.duration %> ms</td>
                                            <td><%= watch.remoteAddress %></td>
                                            <td>
                                                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target='#exampleModal<%= watch.id %>'>
                                                    🧙‍♂️
                                                </button>
                                            </td>
                                        </tr>
                                    <% }); %>
                                </tbody>
        
                            </table>
                        </div>

                        <div class="table-responsive" id="patch" style="display: none;">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                      <th scope="col">occued</th>
                                      <th scope="col">method</th>
                                      <th scope="col">route</th>
                                      <th scope="col">status</th>
                                      <th scope="col">duration (milli seconds)</th>
                                      <th scope="col">remote address</th>
                                      <th scope="col">🧙‍♂️</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% tengri.filter(watch=>watch.method === "PATCH").map(watch=>{ %>
                                        <tr>
                                            <td><%= moment(watch.occured).fromNow() %></td>
                                            <td><%= watch.method %></td>
                                            <td><%= watch.route %></td>
                                            <td>
                                                <% if(watch.status.startsWith("20")) { %>
                                                    <p class="badge badge-success"><%= watch.status %></p>
                                                <%}%>
                                                <% if(watch.status.startsWith("30")) { %>
                                                    <p class="badge badge-warning"><%= watch.status %></p>
                                                <%}%>
                                                <% if(watch.status.startsWith("40")) { %>
                                                    <p class="badge badge-danger"><%= watch.status %></p>
                                                <%}%>
                                            </td>
                                            <td><%= watch.duration %> ms</td>
                                            <td><%= watch.remoteAddress %></td>
                                            <td>
                                                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target='#exampleModal<%= watch.id %>'>
                                                    🧙‍♂️
                                                </button>
                                            </td>
                                        </tr>
                                    <% }); %>
                                </tbody>
        
                            </table>
                        </div>

                        <div class="table-responsive" id="put" style="display: none;">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                      <th scope="col">occued</th>
                                      <th scope="col">method</th>
                                      <th scope="col">route</th>
                                      <th scope="col">status</th>
                                      <th scope="col">duration (milli seconds)</th>
                                      <th scope="col">remote address</th>
                                      <th scope="col">🧙‍♂️</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% tengri.filter(watch=>watch.method === "PUT").map(watch=>{ %>
                                        <tr>
                                            <td><%= moment(watch.occured).fromNow() %></td>
                                            <td><%= watch.method %></td>
                                            <td><%= watch.route %></td>
                                            <td>
                                                <% if(watch.status.startsWith("20")) { %>
                                                    <p class="badge badge-success"><%= watch.status %></p>
                                                <%}%>
                                                <% if(watch.status.startsWith("30")) { %>
                                                    <p class="badge badge-warning"><%= watch.status %></p>
                                                <%}%>
                                                <% if(watch.status.startsWith("40")) { %>
                                                    <p class="badge badge-danger"><%= watch.status %></p>
                                                <%}%>
                                            </td>
                                            <td><%= watch.duration %> ms</td>
                                            <td><%= watch.remoteAddress %></td>
                                            <td>
                                                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target='#exampleModal<%= watch.id %>'>
                                                    🧙‍♂️
                                                </button>
                                            </td>
                                        </tr>
                                    <% }); %>
                                </tbody>
        
                            </table>
                        </div>

                        <div class="table-responsive" id="delete" style="display: none;">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                      <th scope="col">occued</th>
                                      <th scope="col">method</th>
                                      <th scope="col">route</th>
                                      <th scope="col">status</th>
                                      <th scope="col">duration (milli seconds)</th>
                                      <th scope="col">remote address</th>
                                      <th scope="col">🧙‍♂️</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% tengri.filter(watch=>watch.method === "DELETE").map(watch=>{ %>
                                        <tr>
                                            <td><%= moment(watch.occured).fromNow() %></td>
                                            <td><%= watch.method %></td>
                                            <td><%= watch.route %></td>
                                            <td>
                                                <% if(watch.status.startsWith("20")) { %>
                                                    <p class="badge badge-success"><%= watch.status %></p>
                                                <%}%>
                                                <% if(watch.status.startsWith("30")) { %>
                                                    <p class="badge badge-warning"><%= watch.status %></p>
                                                <%}%>
                                                <% if(watch.status.startsWith("40")) { %>
                                                    <p class="badge badge-danger"><%= watch.status %></p>
                                                <%}%>
                                            </td>
                                            <td><%= watch.duration %> ms</td>
                                            <td><%= watch.remoteAddress %></td>
                                            <td>
                                                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target='#exampleModal<%= watch.id %>'>
                                                    🧙‍♂️
                                                </button>
                                            </td>
                                        </tr>
                                    <% }); %>
                                </tbody>
        
                            </table>
                        </div>

                    </div>
                  </div>
            </div>
        </div>
    </section>
    <% tengri.map(watch=>{ %>

        <div class="modal fade" id='exampleModal<%= watch.id %>' data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Request Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <ul>
                                        <li>host : <%= watch.host %></li>
                                        <li>method : <%= watch.method %></li>
                                        <li>status : <%= watch.status %></li>
                                        <li>status Message : <%= watch.statusMessage %></li>
                                        <li>url : <%= watch.route %></li>
                                        <li>time spent : <%= watch.duration %> ms</li>
                                    </ul>
                                </div>
    
                                <div class="col-12">
                                    <div class="container">
                                        <div class="row">

                                            <p class="mt-4">payload</p>
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <%= watch.payload %>
                                                    </div>
                                                </div>
                                            </div>

                                            <p class="mt-4">headers</p>
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <%= watch.headers %>
                                                    </div>
                                                </div>
                                            </div>

                                            <p class="mt-4">response</p>
                                            <div class="col-12 mb-4">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <%= JSON.parse(watch.response) %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    <% }); %>

    
  <!-- <footer> -->
    <%- include('../partials/footer'); %>
    <!-- </footer> -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>

<script>
    function selectAll(){
        document.getElementById("all").style.display = "block";
        
        document.getElementById("post").style.display = "none";
        document.getElementById("get").style.display = "none";
        document.getElementById("patch").style.display = "none";
        document.getElementById("put").style.display = "none";
        document.getElementById("delete").style.display = "none";
   }

    function selectPost(){
        document.getElementById("post").style.display = "block";

        document.getElementById("all").style.display = "none";
        document.getElementById("get").style.display = "none";
        document.getElementById("patch").style.display = "none";
        document.getElementById("put").style.display = "none";
        document.getElementById("delete").style.display = "none";
   }

   function selectGet(){
        document.getElementById("get").style.display = "block";

        document.getElementById("all").style.display = "none";
        document.getElementById("post").style.display = "none";
        document.getElementById("patch").style.display = "none";
        document.getElementById("put").style.display = "none";
        document.getElementById("delete").style.display = "none";
   }

   function selectPatch(){
        document.getElementById("patch").style.display = "block";

        document.getElementById("all").style.display = "none";
        document.getElementById("get").style.display = "none";
        document.getElementById("post").style.display = "none";
        document.getElementById("put").style.display = "none";
        document.getElementById("delete").style.display = "none";
   }

   function selectDelete(){
        document.getElementById("delete").style.display = "block";

        document.getElementById("all").style.display = "none";
        document.getElementById("get").style.display = "none";
        document.getElementById("patch").style.display = "none";
        document.getElementById("put").style.display = "none";
        document.getElementById("post").style.display = "none";
   }
</script>
</body>
</html>